/* Estilos comuns */
.div-conteudo {
  margin: 2em;
  display: grid;
  gap: 1rem;
}

.div-produto {
  height: 15rem;
  text-align: center;
}

.div-produto:hover {
  border-radius: 20px;
  outline-style: solid;
  outline-color: rgb(227, 227, 227);
  cursor: pointer;
}

.imagem-produtos {
  object-fit: contain;
}

/* Estilo para telas menores que 800px */
@media screen and (max-width: 800px) {
  .div-conteudo {
    grid-template-columns: 1fr 1fr;
  }

  .imagem-produtos {
    width: 75%;
    height: 75%;
  }
}

/* Estilo para telas a partir de 801px */
@media screen and (min-width: 801px) {
  .div-conteudo {
    grid-template-columns: 1fr 1fr 1fr;
  }

  br {
    display: none;
  }

  .div-produto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10rem;
  }

  .imagem-produtos {
    width: 50%;
    height: 50%;
  }
}
