@media screen and (max-width: 499px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #ab744b;
    overflow: hidden;
  }

  .imagem {
    position: fixed;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
    object-fit: cover;
  }
  #img1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
  #img5 {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: auto;
  }
  #img6,
  #img7,
  #img8 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: auto;
  }

  #img6 {
    z-index: 1000;
    animation: opacidade 5s linear infinite;
  }

  #img7,
  #img8 {
    z-index: 1000;
  }

  @keyframes opacidade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #img9 {
    z-index: 1;
  }

  button {
    color: rgb(255, 255, 255);
    position: fixed;
    top: -10%;
    left: -35%;
    right: 0%;
    z-index: 9999;
    pointer-events: auto;
    width: 200%;
    height: 200%;
    background-color: transparent;
  }
  h2 {
    text-align: center;
    font-size: 17px;
    font-family: "Huninn", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    left: -10%;
  }
  button:active {
    background-color: white;
  }
}

@media screen and (min-width: 500px) {
  body {
    background-color: #ab744b;
  }
  #img1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
  @keyframes opacidade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #img2 {
    position: fixed;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
  }
  #img3 {
    position: fixed;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
  }
  #img4 {
    position: fixed;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
  }
  #img5 {
    position: fixed;
    height: 100%;
  }
  #img6 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    height: 100%;
    animation: opacidade 5s linear infinite;
  }
  #img7 {
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    height: 100%;
  }
  #img8 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    height: 100%;
  }
  #img9 {
    position: fixed;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
  }
  button {
    color: rgb(255, 255, 255);
    position: fixed;
    top: -10%;
    left: -40%;
    right: 0%;
    z-index: 9999;
    pointer-events: auto;
    width: 200%;
    height: 200%;
    background-color: transparent;
  }
  h2 {
    text-align: center;
    font-size: 40px;
    font-family: "Huninn", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    left: -10%;
  }
  button:active {
    background-color: white;
  }
}

@media screen and (min-width: 801px) {
  body {
    background-color: #ab744b;
  }
  #img1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
  @keyframes opacidade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #img2 {
    position: fixed;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
  }
  #img3 {
    position: fixed;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
  }
  #img4 {
    position: fixed;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
  }
  #img5 {
    position: fixed;
    height: 100%;
  }
  #img6 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    animation: opacidade 5s linear infinite;
  }
  #img7 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
  #img8 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
  #img9 {
    position: fixed;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
  }
  button {
    color: rgb(255, 255, 255);
    position: fixed;
    top: -10%;
    left: -40%;
    right: 0%;
    z-index: 9999;
    pointer-events: auto;
    width: 200%;
    height: 200%;
    background-color: transparent;
  }
  h2 {
    text-align: center;
    font-size: 40px;
    font-family: "Huninn", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    left: -10%;
  }
  button:active {
    background-color: white;
  }
}
