@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

/* Nav bar e Footer */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li:hover {
  background-color: #b77344;
  border-radius: 10px;
}

.btn-nav {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

footer {
  position: fixed;
  border-top: 2px solid #b77344;
  display: flex;
  background-color: white;
}

footer .op .baixo .fazer {
  background-color: green;
  color: white;
}

footer .op .baixo .fazer:disabled {
  background-color: rgb(169, 169, 169);
}

footer .op .baixo .fazer:disabled:hover {
  background-color: rgb(128, 127, 127);
  color: white;
  cursor: not-allowed;
}

footer .op .baixo .fazer:hover {
  background-color: #4caf50;
  cursor: pointer;
}

footer .op .baixo .cancelar {
  background-color: red;
  color: white;
  cursor: pointer;
}

footer .op .baixo .cancelar:hover {
  background-color: #f44336;
  cursor: pointer;
}

footer .op .baixo .op-btn {
  border-radius: 4em;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

/* Tela de produto Único */
.conteudo-produto {
  display: flex;
  flex-direction: column;
}

.conteudo-produto .produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2em;
}

.bemvindo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bemvindo p {
  text-align: center;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  margin-top: 18%;
}

.conteudo-produto .produto .descricao {
  font-size: 1.2em;
  color: #555;
  padding: 0 3em;
}
.conteudo-produto .produto-img {
  width: 18em;
  height: 18em;
  object-fit: contain;
}

.linha-separadora {
  width: 70%;
  height: 0;
  border-top: 3px solid #b77344;
  margin: 1em auto;
  opacity: 1;
}

.adicionar {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .modal-conteudo {
    margin: 50% auto;
    max-width: 600px;
  }

  nav {
    position: fixed;
    width: 5rem;
    height: 100vh;
    height: 100svh;
    border-right: 2px solid #b77344;
    top: 0;
  }

  nav ul li {
    margin: 3em 0;
    text-align: center;
    padding: 5px 0;
  }

  .btn-nav {
    font-size: 0.8em;
  }

  nav img {
    width: 4.5em;
    height: 4.5em;
  }

  main {
    margin-left: 5rem;
    padding-bottom: 170px;
  }

  footer .logo {
    width: 50px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin: 0 1em;
  }

  footer {
    width: 100%;
    height: 6em;
    bottom: 0%;
    align-items: center;
    z-index: 1000;
  }

  footer .op {
    width: 100%;
    left: 100%;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
  }

  footer .op .total {
    text-align: end;
  }

  footer .op .total h2 {
    margin-right: 0.5em;
    font-size: 1em;
  }

  footer .op .baixo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }

  footer .op .baixo .op-btn {
    padding: 0.7em 0.5em;
  }

  .conteudo-produto .produto-img {
    width: 10em;
    height: 10em;
    object-fit: contain;
  }

  .produto h1,
  .adicionar h1 {
    font-size: 1.5em;
  }

  .conteudo-produto .produto .descricao {
    font-size: 0.8em;
  }

  .nome-opcao {
    text-align: left;
    font-size: 0.7em;
  }

  .opcao-produto {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    height: 3.5em;
  }

  .qte-input {
    font-size: 1em;
  }

  .qte-menos,
  .qte-mais,
  .qte-input {
    min-width: 30px;
  }

  .controle-qtd button {
    font-size: 1.5em;
  }

  .bemvindo{
    font-size: 0.6em;
  }
}

/* Estilização para tablet */
@media screen and (min-width: 500px)  and (max-width:800px) {
  .modal-conteudo {
    font-size: 1.5em;
    margin: 45% auto;
    max-width: 600px;
  }

  nav {
    position: fixed;
    width: 12.5rem;
    height: 100vh;
    height: 100svh;
    border-right: 2px solid #b77344;
    top: 0;
  }

  nav ul li {
    margin: 2.5em 0;
    text-align: center;
  }

  .btn-nav {
    font-size: 1.3em;
  }

  nav img {
    width: 100px;
    height: 100px;
  }

  main {
    margin-left: 200px;
    flex: 1;
    padding-bottom: 170px;
  }

  footer {
    width: 100%;
    height: 10em;
    bottom: 0%;
    align-items: center;
    z-index: 1000;
  }

  footer .logo {
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin-left: 2em;
    margin-right: 3.5em;
  }

  footer .op {
    width: 100%;
    left: 100%;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
  }

  footer .op .total {
    text-align: end;
  }

  footer .op .total h2 {
    margin-right: 1em;
  }

  footer .op .baixo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  footer .op .baixo .op-btn {
    padding: 0.7em 0.5em;
    font-size: 1.5em;
  }

  .adicionar {
    padding: 10px 32px;
    width: 90%;
    margin: 0 auto 1.5em;
  }

  .opcao-produto {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    gap: 1em;
    align-items: center;
    margin-bottom: 2em;
    height: 3.5em;
  }
}

/* Estilização para desktop */
@media screen and (min-width: 801px) {
  .modal-conteudo {
    margin: 15% auto;
  }

  nav {
    position: fixed;
    top: 0;
    height: calc(100% - 4em);
    width: 7rem;
    border-right: 2px solid #b77344;
  }

  nav img {
    width: 60px;
    height: 60px;
  }

  nav ul {
    background: none;
  }

  nav ul li {
    margin: 1.5em 0;
    text-align: center;
    padding: 0.5em 0;
  }

  .btn-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  main {
    margin-left: 7em;
    margin-bottom: 4em;
  }

  footer {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
  }

  .logo {
    aspect-ratio: 1 / 1;
    width: 3rem;
  }

  .op {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-left: 2.5rem;
  }

  .baixo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .total h2 {
    font-size: 1.2rem;
  }

  .op-btn {
    padding: 1em 3em;
  }

  .conteudo-produto .produto-img {
    width: 10em;
    height: 10em;
    object-fit: contain;
  }

  h1 {
    font-size: 1.5em;
  }

  .descricao {
    font-size: 0.8em;
  }

  .linha-separadora {
    border-radius: 2px solid #b77344;
  }

  .adicionar {
    width: 70%;
    margin: 0 auto;
  }

  .qte-input {
    padding-left: 1em;
  }

  .opcao-produto {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    gap: 1em;
    align-items: center;
    margin-bottom: 2em;
    height: 3.5em;
  }
}

.botao-criar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #b77344;
  z-index: 2000;
}

.botao-criar form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-criar form button {
  background-color: #b77344;
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 5px;
  font-size: 2rem;
  width: 100%;
  padding: 2em 0em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.botao-criar button:hover {
  background-color: #a65f2b;
  transition: background-color 0.3s ease;
}

.opcao-produto-unica {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 2em;
  height: 3.5em;
  justify-content: center;
}

.nome-opcao {
  text-align: left;
}

.preco {
  color: #555;
}

.adicionar-btn {
  background-color: #b77344;
  color: white;
  border: none;
  border-radius: 4em;
  padding: 10px;
  margin: 10px;
  margin-top: 25px;
  font-size: 1.5em;
  cursor: pointer;
  width: 80%;
}

/* Tela de processamento */

.processando-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.processando {
  text-align: center;
  font: 1em Arial, sans-serif;
}
.spinner {
  border: 0.5em solid #f3f3f3;
  border-top: 0.5em solid #b77344;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.check {
  justify-content: center;
  margin: 0.5em auto;
  display: none;
}

.check img {
  width: 5em;
  height: 5em;
}

.modal-remocao {
  display: none; /* escondido por padrão */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); /* fundo escuro */
}

.modal-conteudo {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  text-align: center;
}

.modal-botoes {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-around;
}

.btn-cancelar,
.btn-confirmar {
  padding: 0.8em 2em;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
}

.btn-cancelar {
  background-color: #aaa;
  color: white;
}

.btn-confirmar {
  background-color: #d9534f;
  color: white;
}

.btn-cancelar:hover {
  background-color: #888;
}

.btn-confirmar:hover {
  background-color: #c9302c;
}
